
/*
body{
  width: 100vw;
  height: 100vh;    
  display: table;
  vertical-align: middle;
  text-align: center;    
}

div.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 60%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

.login-box {
    display: table-cell;
}
*/
#logo-link{
  display: inline-block;
  width:128px;
  height:128px;
  background-image:url("../img/logo.png");
}